@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('/fonts/MontserratAlternates-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('/fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('/fonts/MontserratAlternates-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('/fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
  font-display: swap;
}
